
.container{
    text-align:  center;
   display: flex;
   justify-content: center;
}
.image img{
    /* display: flex; */
    border-radius: 40px ;
    border: 4px dotted black ;
}
.formss{
    padding-right: 100px;

}

.title{
    justify-content: center;
    padding-bottom: 40px;
    text-decoration: underline black;
    
}
 .tap{
    background-color: blue;
    color: white;
   margin-top: 20px;
   height:35px;
   width:80px;
   text-decoration: none;

}
.addmovies{
   background-color:rgb(221, 221, 221) ;
    height: 700px;
}
input{
    height: 30px;
    width: 350px;
}