.footer{
    background-color: rgb(51, 53, 69);
    text-align: center;
    padding: 10px 0px;
    margin-top: 50px;
   
}
.footerlinks li{
display: inline-block;
margin: 0px 10px;
}
.footerlinks a{
    text-decoration: none;
    color: white;
}
.footerlinks ul{
    margin: 0;
    padding: 0;
}
.copyrights p{
 margin: 0;
 color: white;
}

