.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 64px;
}
.title a{
    color:red;
    font-size: 14px;
}
.images{
    display:flex;
    justify-content: space-between;
    padding: 0px 64px;
}
.images img{
    height:378px;
    width: 222px;
    border-radius: 8px;
    transition: 0.5s;

}
.images img:hover{
    /* transform: scale(1.1); */
    transform: translateY(-15px);
}

