.title {
    padding: 0px 64px;
}
.moviesdata{
    background-color:rgb(141, 140, 140);
    margin:15px 64px;
    padding: 10px;
}
.moviesdata:hover {
background-color:black;
color: white;
}
.movies{
    background-color:lightgrey;
    margin:30px 0px;
    padding: 30px 0px;
}
.moviesdata h1{
    padding: 0px 30px;
}
.moviesdata h3{
    padding: 0px 30px;
}
.moviesdata button{
    border:none;
    padding: 6px 18px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;

}
.underline{
    height: 10px;
    width: 100px;
    background-color: black;
    margin: 0px 64px;
}
.titles{
    padding: 0px 64px;
}
.pictures{
   display: flex;
    justify-content: space-around;
    margin: 15px 64px;
    height: 370px; 
} 
.pictures h1{
    padding: 0px 30px;
    display: flex;
}
.pictures img{
    /* padding: 0px 30px; */
    height:200px;
    width:200px;
    border-radius: 50%;
    margin: 20px 10px;
    transition: 0.5s;
    
}
.pictures img:hover{
    /* background-color:black; */
    opacity: 0.5;
}